/* Google font Import code */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "poppins";
    margin: 0;
}

.welcome {
     background-image: url(images/top-banner.png);
     background-repeat: no-repeat;
}

.box {
    padding-top: 50px;
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
    
}

.left-content {
    width: 50%;
    padding: 0 33.5px;
    
}

.left-content h1 {
    font-size: 50px;
    font-weight: 700px;
    margin-block-start: 33.5px;
    margin-block-end: 33.5px;

}

.speacial {
    color: violet;
}

.right-content {
    width: 50%;
    padding: 0 33.5px;
}

.right-content img {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.right-content h1 {
    margin-block-start: 33.5px;
    margin-block-end: 33.5px;
}

.container {
    /* gap: 40px; */
}

.btn {
    text-decoration: none;
    background-image: linear-gradient(rgb(205, 233, 45), rgb(31, 165, 170));
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 2px 2px 4px grey;
    
    
}

.dream {
    
}

.left-content img {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.right-content2 {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 50%;
    padding: 0 33.5px;
}

.right-content2 h1 {
    font-size: 50px;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    margin-block-start: 33.5px;
    margin-block-end: 33.5px;
}
.experience h1 {
    font-size: 24px;
}

.experience h3 {
    color: orange;
}

.shadow {
    box-shadow: 15px 15px 30px grey;
    width: 40%;
    margin: 0 5%;
    padding: 20px;
}

#full-stack {
    border-left: 5px solid;
    border-image: linear-gradient(yellow, green);
    border-image-slice: 1;
}

#baby-web {
    border-left: 5px solid;
    border-image: linear-gradient(orange, red);
    border-image-slice: 1;
}

footer {
    text-align: center;
}